.container {
	display: flex;
	flex-wrap: wrap;
}
.wapper-btn {
	margin: 12px;
	display: flex;
}
.button {
	padding : 12px 20px;
	border-radius : 10px;
	border-width : 0;
	cursor: pointer;
	border-color : '#E8E8E8';
	background-color : '#F6F6F6';
}
.button_active {
	padding : 12px 20px;
	border-radius : 10px;
	border-width : 0;
	cursor: pointer;
	border-color : '#E8E8E8';
	background-color : bisque;
	color: crimson;
	font-weight: 600;
}